@import '@styles/variables';

.section-welcome {
  &__slider {
    padding-block-end: var(--slider-pb);
    padding-inline-start: var(--slider-pl);
  }

  &__image {
    display: block;
    width: 100%;
  }
}

.swiper::after {
  position: absolute;
  z-index: 1;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.5) 16.19%,
    rgba(0, 0, 0, 0) 30.73%
  );
  pointer-events: none; //remember
  @media (max-width: $tablet) {
    display: none;
  }
}
