.burger-close {
  span {
    width: 33px;
    height: 2px;

    &:first-child {
      transform: translate(4px, 1px) rotate(43deg);
    }

    &:last-child {
      transform: translate(4px, -1px) rotate(-43deg);
    }
  }
}
