.slider-navigation {
  display: flex;
  align-items: center;
  column-gap: 2rem;

  @media (max-width: 441px) {
    &-btn svg {
      width: 2rem;
    }
  }

  &-btn:hover svg path {
    fill: var(--gold-hover);
  }
}
