.burger {
  display: none;
  position: relative;
  z-index: 3;
  width: 3.2rem;
  height: 1.8rem;

  @media (max-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
  }

  span {
    height: 0.2rem;
    width: 100%;
    background-color: white;
    transition: background-color 0.2s linear;
  }

  &:hover span {
    background-color: var(--gold);
  }

  &.close {
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;

    span {
      width: 3.3rem;

      &:first-child {
        transform: translate(0, 100%) rotate(45deg);
      }

      &:last-child {
        transform: translate(0, -100%) rotate(-45deg);
      }

      &:nth-child(2) {
        visibility: hidden;
      }
    }
  }
}
