:root {
  font-family: 'Roboto';
  font-size: 0.625em;
  box-sizing: border-box;
  user-select: none;
  color: #ffffff;

  //? header var
  --header-min-height: 15rem;

  //? color var
  --bg-black: #030303;
  --gold: #9d8665;
  --gold-hover: #9d8665;
  --gold-active: #7e6c51;

  //? logo var
  --logo-fs: 2.8rem;
  --logo-lh: 3.1rem;

  //? header link var
  --header-link-fs: 2.2rem;
  --header-link-lh: 2.6rem;
  --link-ls: 0.2rem;

  //? title var
  --title-ls: 0.5rem;

  @media (max-width: $desktop) {
    --header-min-height: 13rem;
    // --title-font-size: 5rem;
    --header-link-fs: 2rem;
    --header-link-lh: 2.3rem;

    @media (max-width: $tablet) {
      --header-min-height: 11rem;
      //   --title-font-size: 4rem;
      //   --title-line-height: 6rem;
      --logo-lh: 5rem;

      @media (max-width: $mobile) {
        --header-min-height: 9rem;
        // --title-font-size: 2.8rem;
        // --title-line-height: 4rem;
        --logo-fs: 1.6rem;
        --logo-lh: 1.8rem;
      }
    }
  }
}
