:root {
  font-family: 'Roboto';
  font-size: 0.625em;
  box-sizing: border-box;
  user-select: none;
  color: #ffffff;

  //? color
  --bg-black: #030303;
  --bg-red: #710707;
  --bg-white: #dbdbdb;
  --gold: #9d8665;
  --gold-hover: #9d8665;
  --gold-active: #7e6c51;

  //? header
  --header-min-height: 12rem;

  //? header link
  --header-link-fs: 2.2rem;
  --header-link-lh: 2.6rem;
  --link-ls: 0.2rem;

  //? logo
  --logo-fs: 2.8rem;
  --logo-lh: 3.1rem;

  //? title
  --h2-fs: 8rem;
  --h2-lh: 9rem;
  --title-ls: 0.5rem;

  //? slogan
  --slogan-fs: 2.8rem;
  --slogan-lh: 3.3rem;
  --slogan-mb: 7.5rem;

  //? discover-link
  --discover-link-width: 36rem;
  --discover-link-height: 7.5rem;

  //? slider
  --slider-welcome-width: 100rem;

  //? slider controls
  --controls-width: 60rem;
  --controls-height: 12rem;
  --controls-ml: auto;
  --controls-mt: -6rem;
  --controls-gap: 6rem;

  //? slider counter
  --counter-fs: 2.2rem;
  --counter-lh: 4rem;
  --counter-gap: 1rem;

  //? slider pagination
  --pagination-btn-size: 1.6rem;
  --pagination-gap: 2.5rem;

  //? section
  --section-py: 7.5rem;
  --section-title-mb: 10rem;

  //? card-title
  --card-title-fs: 3.2rem;
  --card-title-lh: 3.5rem;
  --card-title-ls: 0.5rem;

  //? card-description
  --card-description-fs: 2.2rem;
  --card-description-lh: 2.6rem;
  --card-span-fs: 1.8rem;
  --card-span-lh: 2.1rem;

  @media (max-width: $desktop) {
    --header-min-height: 10rem;
    --header-link-fs: 2rem;
    --header-link-lh: 2.3rem;
    --h2-fs: 5rem;
    --h2-lh: 7.5rem;
    --slogan-fs: 2.4rem;
    --slogan-lh: 2.8rem;
    --slogan-mb: 5rem;
    --discover-link-width: 30rem;
    --discover-link-height: 6rem;
    --slider-welcome-width: 70rem;
    --controls-width: 100%;
    --controls-ml: 0;
    --controls-gap: 4.5rem;
    --counter-fs: 2rem;
    --pagination-btn-size: 1.2rem;
    --section-py: 6rem;
    --section-title-mb: 8rem;
    --card-title-fs: 2.8rem;
    --card-title-lh: 3.1rem;
    --card-title-ls: 0.3rem;
    --card-description-fs: 2rem;
    --card-description-lh: 2.3rem;
    --card-span-fs: 1.6rem;
    --card-span-lh: 1.9rem;

    @media (max-width: $tablet) {
      --header-min-height: 8rem;
      --logo-lh: 5rem;
      --h2-fs: 4rem;
      --h2-lh: 6rem;
      --slogan-fs: 2rem;
      --slogan-lh: 2.3rem;
      --slider-welcome-width: 100%;
      --controls-height: 10rem;
      --controls-mt: 0;
      --section-py: 4rem;
      --section-title-mb: 6rem;
      --card-title-fs: 2.2rem;
      --card-title-lh: 2.4rem;
      --card-description-fs: 1.8rem;
      --card-description-lh: 2.1rem;

      @media (max-width: $mobile) {
        --header-min-height: 6rem;
        --h2-fs: 2.8rem;
        --h2-lh: 4rem;
        --logo-fs: 1.6rem;
        --logo-lh: 1.8rem;
        --slogan-fs: 1.6rem;
        --controls-height: 8rem;
        --controls-gap: 2.5rem;
        --counter-fs: 1.6rem;
        --counter-gap: 0.5rem;
        --pagination-btn-size: 0.7rem;
        --pagination-gap: 1rem;
        --card-title-fs: 1.8rem;
        --card-title-lh: 2rem;
        --card-title-ls: 0.5rem;
        --card-description-fs: 1.6rem;
        --card-description-lh: 1.9rem;
      }
    }
  }
}
