:root {
  font-family: 'Roboto';
  font-size: 0.625em;
  box-sizing: border-box;
  user-select: none;
  color: #ffffff;

  //? header var
  --header-min-height: 11rem;

  //? color var
  --bg-black: #030303;
  --bg-red: #710707;
  --gold: #9d8665;
  --gold-hover: #9d8665;
  --gold-active: #7e6c51;

  //? logo var
  --logo-fs: 2.8rem;
  --logo-lh: 3.1rem;

  //? header link var
  --header-link-fs: 2.2rem;
  --header-link-lh: 2.6rem;
  --link-ls: 0.2rem;

  //? title var
  --h2-fs: 8rem;
  --h2-lh: 9rem;
  --title-ls: 0.5rem;

  //? greeting var
  --greeting-pt: 15rem;

  //? slogan var
  --slogan-fs: 2.8rem;
  --slogan-lh: 3.3rem;
  --slogan-mb: 7.5rem;

  //? discover-link var
  --discover-link-width: 36rem;
  --discover-link-height: 7.5rem;

  @media (max-width: $desktop) {
    --header-min-height: 9rem;
    --header-link-fs: 2rem;
    --header-link-lh: 2.3rem;
    --h2-fs: 5rem;
    --h2-lh: 7.5rem;
    --slogan-fs: 2.4rem;
    --slogan-lh: 2.8rem;
    --slogan-mb: 5rem;
    --discover-link-width: 30rem;
    --discover-link-height: 6rem;
    --greeting-pt: 8rem;

    @media (max-width: $tablet) {
      --header-min-height: 7rem;
      --logo-lh: 5rem;
      --h2-fs: 4rem;
      --h2-lh: 6rem;
      --slogan-fs: 2rem;
      --slogan-lh: 2.3rem;
      --greeting-pt: 0.5rem;

      @media (max-width: $mobile) {
        --header-min-height: 5rem;
        --h2-fs: 2.8rem;
        --h2-lh: 4rem;
        --logo-fs: 1.6rem;
        --logo-lh: 1.8rem;
        --slogan-fs: 1.6rem;
        --slogan-lh: 1.9rem;
      }
    }
  }
}
