.footer {
  position: relative;
  background-color: var(--bg-black);
  color: white;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
    padding-block: 4rem;
  }

  @media (max-width: $mobile) {
    &__body {
      flex-direction: column;
    }

    &__logo {
      align-self: flex-start;
    }
  }
}
