.menu {
  font-style: normal;
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;

  &-link {
    display: flex;
    padding-block: 1rem;
    transition: color 0.2s linear;

    &:hover {
      color: var(--gold);
    }

    &.active {
      color: var(--gold-active);
      font-weight: 300;
    }
  }
}
