* {
  box-sizing: inherit;
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

section {
  padding-block: var(--section-py);
}

h2 {
  font-family: 'Forum';
  font-weight: 400;
  font-size: var(--h2-fs);
  line-height: var(--h2-lh);
  letter-spacing: var(--title-ls);
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s linear;
}

ul {
  list-style: none;
}

svg path {
  transition: fill 0.2s linear;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.2s linear;

  &:has(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  background-image: linear-gradient(
    to right,
    var(--bg-red) 0%,
    var(--bg-red) var(--value),
    var(--bg-gray) var(--value),
    var(--bg-gray) 100%
  );
  transition: all 0.1s linear;

  &::-webkit-slider-runnable-track {
    height: var(--track-height);
    -webkit-appearance: none;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    margin-block-start: var(--thumb-mt);
    border-radius: 100%;
    background-color: #ffffff;
    cursor: ew-resize;
  }

  &:focus {
    outline: none;
  }
}

#root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-black);
}

main {
  position: relative;
  flex: 1 1 auto;
}

.container {
  max-width: 1480px;
  padding-block: 0;
  padding-inline: 2rem;
  margin-block: 0;
  margin-inline: auto;
}

.logo,
.menu-link {
  &.active {
    color: var(--gold-active);

    svg path {
      fill: var(--gold-active);
    }
  }

  &:hover,
  &.active:hover {
    color: var(--gold-hover);

    svg path {
      fill: var(--gold-hover);
    }
  }
}
