@import '@styles/variables';

.menu-link {
  display: block;
  padding-block: 1rem;

  font-weight: 300;
  font-size: var(--header-link-fs);
  line-height: var(--header-link-lh);
  letter-spacing: var(--link-ls);

  text-transform: capitalize;

  svg {
    display: none;
  }

  @media (max-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12.5rem;

    svg {
      display: block;
    }
  }
}
