@import '@styles/variables';

.player {
  &-body {
    position: relative;
    width: 100%;
    height: var(--video-screen-height);
    cursor: pointer;
    overflow: hidden;

    &:hover .player-controls {
      transform: none;
    }

    button:hover svg path {
      fill: var(--gray-hover);
    }
  }

  &-screen {
    width: 100%;
    height: 100%;
    object-position: bottom center;
    object-fit: cover;
  }

  &-screen.play + .btn-poster {
    display: none;
  }

  &-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    min-height: var(--video-controls-height);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--video-controls-gap);
    padding-inline: var(--video-controls-px);
    margin-block-start: -0.3rem;
    background-color: var(--bg-black);
    transition: transform 0.3s linear;

    @media (max-width: $desktop) {
      svg {
        height: 2.6rem;

        @media (max-width: $mobile) {
          height: 2rem;
        }
      }
    }
  }
}
