@import '@styles/variables';

.section-explore {
  &__container {
    display: flex;
    column-gap: 3rem;
    justify-content: space-between;

    @media (max-width: $desktop) {
      display: block;
    }
  }
}
